body {
    margin: 0;
    padding: 0;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
    color: #333333;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: #000000;
}

.mainBackground {
    background: #f2f2f2;
}

.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation__listItem .link {
    font-weight: bold;
    color: #000000;
}

.navigation__listItem .link:hover {
    color: #81b3d2;
}

.navigation__listItem .link:focus {
    color: rgba(0, 0, 0, 0.3);
}

.navigation__listItem .link:active {
    color: #766357;
}

.heading2 {
    font-size: 21px;
    font-weight: bold;;
    text-align: center;
    color: #000000;
}

.heading1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.sedonasFeatures {
    margin-top: 50px;
}

.sedonasFeatures__description {
    line-height: 21px;
    color: #333333;
}

.sedonasFeatures__description_white {
    line-height: 21px;
}

.hashtag {
    width: 400px;
    display: flex;
    justify-content: center;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.hotels__name {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.hotels__name:hover {
    color: #81b3d2;
}

.hotels__name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotels__rate {
    color: #666666;
    background-color: #f2f2f2;
    padding-left: 16px;
    padding-right: 13px;
}

.button {
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
}

.button_blue {
    background-color: #81b3d2;
}

.button_blue:hover {
    background-color: #669ec0;
}

.button_blue:active {
    background-color: #5496bd;
}

.button_brown {
    background-color: #766357;
}

.button_brown:hover{
    background-color: #604e43;
}

.button_brown:active {
    background-color: #503e33;
}

.container {
    display: flex;
    flex-flow: column;
    width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: inherit;
    background: white;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.contentArea {
    flex-grow: 1;
}

.mainHeader {
    position: relative;
    padding: 15px 0px;
}

.navigation__list {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.mainHeader__logo {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    justify-content: center;
}

.navigation__listItem {
    position: relative;
    z-index: 2;
    display: block;
    width: 20%;
    text-align: center;
}

.navigation__listItem:nth-child(2) {
    margin-right: 20%;
}

.promo {
    width: 100%;
    display: block;
    padding-top: 33px;
    padding-bottom: 29px;
}

.button_search {
    width: 100%;
    display: block;
    padding-top: 17px;
    padding-bottom: 22px;
    height: 58px;
}

.bookingForm {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 55px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}
.bookingForm__label {
    margin-right: 18px;
}

.bookingForm__field {
    display: flex;
    font-weight: bold;
    flex-direction: row;
    margin-bottom: 29px;
    align-items: center;
    justify-content: space-between;
}

.mapImage {
    background: url('../img/map.png') no-repeat;
    width: 100%;
    height: 473px;
}

.dataInput {
    font-weight: bold;
    display: inline-flex;
    background-color: #f2f2f2;
    color: #000000;
}

.dataInput_grow {
    width: 346px;
    position: relative;
}

.input {
    padding-left: 12px;
    background: transparent;
    border: 0;
    height: 38px;
    font-weight: bold;
    line-height: 38px;
    text-align: left;
    text-transform: uppercase;

}

.guestsNumber {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-bottom: 46px;
}

.button_add {
    width: 40px;
    background-color: #f2f2f2;
    color: rgba(0, 1, 1, 0.15);
    font-weight: bold;
    font-size: 23px;
}

.button_add:hover {
    color: black;
}

.button_add:active {
   color: #81b3d2;
}

.bookingForm__label_adults {
    margin-right: 41px;
    margin-bottom: 8px;
}

.container__guestsNumber {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.promoText__heading {
    margin-bottom: 27px;
}

.promoText__introHeading {
    margin-bottom: 27px;
}

.promoText_brown {
    text-align: center;
    color: #333333;
}

.promoText_headline {
    padding-bottom: 45px;
    padding-left: 4px;
}

.promoText {
    width: 568px;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
}

.catalogItem {
    display: flex;
    border-top: 1px solid #ededed;
    border-top: 1px solid #ededed;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 72px;
}

.catalogItem:last-child {
    border-bottom: 1px solid #ededed;
}

.hotels__poster {
    line-height: 0;
    margin-right: 32px;
    margin-left: 73px;
}

.button_details {
    font-weight: bold;
    padding: 4px 17px;
}

.button_book {
    font-weight: bold;
    padding: 4px 17px;
}

.hotels__metaRate {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left: auto;
}

.hotels__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookItem {
    min-width: 142px;
}

.hotels__metaRate_stars {
    color: #81b3d2;
    font-weight: bold;
    font-size: 21px;
    text-align: right;
}

.mainPoster {
    background: url(../img/background-photo.png) no-repeat;
    background-size: cover;
    background-position: 50% 29%;
    text-align: center;
    position: relative;
    padding-top: 76px;
    padding-bottom: 71px;
}

.mainPoster::after {
    content: "";
    display: block;
    width: 1202px;
    height: 59px;
    background: url(../img/polygon.png) no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -2px;
    left: -1px;
}

.calendar {
    opacity: 0.16;
    width: 21px;
    height: 22px;
    background: transparent;
    color: #a9a9a9;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 10px;
    top: 8px;
}

.calendar:hover {
    opacity: 1;
    background-color: #f2f2f2;
}

.calendar:active {
    fill: #81b3d2;
}

.inputNumber {
    width: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 36px;
    padding-bottom: 36px;
}

.footer__social {
    display: flex;
    width: 400px;
    justify-content: center;
}

.footer__social_Item {
    margin-right: 6px;
}

.footer__social_Item:last-child {
    margin-right: 0;
}

.socialButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
}

.socialButton:active {
    fill: #5496bd;
    fill-opacity: 0.3;
}

.academyLogo {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: center;
}

.academyLogo__pic {
    width: 115px;
    height: auto;
    fill: #231f20;
    margin-left: 7px;
    line-height: 0;
}

.academyLogo__pic:hover {
    fill: #81b3d2;
}

.academyLogo__pic:active {
    fill: #bdbbbc;
}

.catalogItem__description {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
}

.column1 {
    width: 400px;
    box-sizing: border-box;
    text-align: center;
    padding-right: 55px;
    padding-left: 55px;
}

.column2 {
    width: 800px;
    height: 256px;
    box-sizing: border-box;
    text-align: center;
}

.demoContainer {
    display: flex;
    padding-top: 2px;
}

.column1_blue {
    background-color: #81b3d2;
    color: #ffffff;
    padding-bottom: 15px;
    padding-top: 49px;
    padding-right: 49px;
    padding-left: 49px;
}

.heading2_white {
    line-height: 21px;
    max-width: 151px;
    color: #ffffff;
    margin: 0 auto;
}

.heading2_narrow {
    width: 140px;
    line-height: 21px;
    margin: 0 auto;
}

.heading2_name {
    padding-bottom: 17px;
}

.row_grey {
    background-color: #eeeeee;
    padding-top: 48px;
    padding-bottom: 62px;
}

.row_white {
    padding-right: 1px;
    padding-bottom: 81px;
    padding-top: 58px;
}

.featureNumber {
    padding-top: 20px;
    padding-bottom: 18px;
}

.columnIcon {
    padding-bottom: 25px;
}

.columnIcon_present {
    margin-top: -5px;
}

.hotelsFilter {
    display: flex;
    flex-direction: row;
    min-height: 218px;
    align-items: center;
    background: url(../img/filter-background.png) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-left: 72px;
    padding-right: 74px;
    color: #ffffff;
}

.filter {
    margin-left: auto;
}

.hotelsFilter__range {
    margin-right: 118px;
}

.hotelsFilter__option {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.sortingSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 86px;
    margin-left: 72px;
    margin-right: 72px;
    align-items: center;
}

.sortingResult {
    margin-right: 45px;
    font-weight: bold;
    font-size: 21px;
}

.sortingFeatures {
    display: flex;
    flex-grow: 1;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 5px;
}

.upButton__label::after {
    content: '▲';
    width: 11px;
    height: 10px;
    display: block;
    font-weight: bold;
    color: #cacaca;
    margin-right: 10px;
}

.downButton__label::after {
    content: '▼';
    width: 11px;
    height: 10px;
    display: block;
    color: #cacaca;
}

.upButton__label:hover::after,
.downButton__label:hover::after {
    color: black;
}

.upButton__label:active::after,
.downButton__label:active::after {
    color: #81b3d2;
}

.rateArrows {
    display: flex;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.button__input:checked ~ .downButton__label::after {
    color: #81b3d2;
}

.button__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox {
    position: relative;
    padding-top: 20px;
}

.checkbox__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox__label {
    display: flex;
}

.checkbox__label::before {
    width: 27px;
    height: 23px;
    background: url('../img/svg-sedona/checkbox-off.svg') no-repeat;
    content: '';
    margin-right: 13px;
}

.checkbox__input:checked ~ .checkbox__label::before {
    background-image: url('../img/svg-sedona/checkbox-on.svg');
}

.sortItem {
    display: block;
    position: relative;
    cursor: pointer;
    margin-left: 38px;
}
  
  .sortItem__label {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.3);
}
  
  .sortItem__input:checked ~ .sortItem__label {
    text-decoration: none;
    color: #81b3d2;
}
  
.sortItem__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.filterRange {
    width: 314px;
}

.filterRange__title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.priceControls {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    padding: 2px 0px;
}

.priceControls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.priceControls_label {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.priceControls .minPrice {
    width: 90px;
    padding-left: 65px;
}

.priceControls .maxPrice {
  width: 90px;
  padding-left: 54px;
}

.priceInput {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}

.rangeControls {
    position: relative;
    margin-bottom: 24px;
}
  
.rangeControls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
  
.rangeControls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.rangeToggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
  
.rangeToggle:hover {
    background: #1c4f80;
}
  
.rangeToggle_min {
    left: 0;
}
  
.rangeToggle_max {
    left: 80%;
}
  
.btnTransparent {
    display: block;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 33px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }
  
.btnTransparent:hover {
    color: #000000;  
    background: #ffffff;
}
  
