body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans',Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: #333333;
    background-color:#ffffff;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color:#000000;
}
.mainHeader__listItem .link {
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}
.mainHeader__listItem .link:hover {
    color:#81b3d2;
}
.mainHeader__listItem .link:focus {
    color:rgba(0, 0, 0, 0.3)
}
.mainHeader__listItem .link:active {
    color:#766357;
}
.info {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color:#000000;
}
.features {
    line-height: 26px;
    text-align: center;
    color: #000000;
}
.intro__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:#000000;
}
.intro__header {
    text-align: center;
    color: #333333;
}
.searchForm {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
}
.hashtag {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}
.hotelName {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color:#000000;
}
.hotelName:hover {
    color:#81b3d2;
}
.hotelName:active {
    color:rgba(0, 0, 0, 0.3);
}
.rate {
    line-height: 21px;
    color: #666666;
}

.button {
    line-height: 21px;
    color:#ffffff;
}

.button:active {
    color:rgba(255, 255, 255, 0.3);
}

.button_blue {
    background-color: #81b3d2;
}
.button_blue:hover {
    background-color: #669ec0;
}
.button_blue:active {
    background-color:#5496bd;
}

.button_brown {
    background-color:#766357;
}
.button_brown:hover{
    background-color: #604e43;
}
.button_brown:active {
    background-color:#503e33;
}
